name: Deploy New Version
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: WIP
        run: echo "WORK IN PROGRESS: Deployment steps will be added here soon!"